html {
	background-color: #A7D2A3;

p, input {
  text-align: center;
}

#activite {
	overflow: hidden;
	width: 150px;
}

#activite option{
	width: 150px;
}

img {
	display: none;
	margin-left: 10%;
	margin-top: 10%;
}

input[type=submit] {
  background-color: #9F681D;
}
