table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	margin-left: 30%;
	margin-top: 10%;
  width: 50%;
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#lat, #lng {
  display: none;
}
